<h1>Hello,World!</h1>
<div>Index/index :　<?php echo $msg;?></div>
<div>Welcome to LWHPHP!</div>
<div>
	<a href="<?php echo shortUrl('Home/Index', array('param1'=>'TestParam1','param2'=>'LWHPHP',));?>">Home/Index</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="<?php echo shortUrl('Home/DownloadExcel');?>">xls下载</a>
</div>
<div>	
	<a href="<?php echo shortUrl('Pdf/test');?>">pdf在线预览</a>	
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="<?php echo shortUrl('Pdf/download');?>">pdf下载</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="<?php echo shortUrl('Pdf/priview');?>">html模板预览</a>
</div>