<style type="text/css">
	table{border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;}
	th,td{border-right:1px solid #888;border-bottom:1px solid #888;padding:5px 15px;height: auto;}
	th{font-weight:bold;background:#ccc;}
	.input{font-family: solid;color: #36648B;}
</style>

<h1 align="center">数学科学学院</h1>
<i align="center">学术访问申请表</i>

<p></p>

<table>
	<tr>
		<th colspan="5">专家姓名及陪同人员</th>
		<th colspan="5" class="input">%s</th>
		<th colspan="1">单位</th>
		<th colspan="3" class="input">%s</th>
		<th colspan="3">访问时间</th>
		<th colspan="3" class="input">%s</th>
	</tr>
	<tr>
		<td colspan="1">专家简介</td>
		<td colspan="19" class="input">%s</td>
	</tr>
	<tr>
		<td colspan="1">报告题目</td>
		<td colspan="19" class="input">%s</td>
	</tr>
	<tr>
		<td colspan="1">摘要</td>
		<td colspan="19" class="input">%s</td>
	</tr>
	<tr>
		<td colspan="4">报告：<br>面向层次<br>专业方向<br>规模</td>
		<td colspan="8" class="input">%s</td>
		<td colspan="3">报告时间、<br>报告地点:</td>
		<td colspan="5" class="input">%s</td>
	</tr>
	<tr>
		<td colspan="1">数学所所长意见</td>
		<td colspan="9" class="input">%s</td>
		<td colspan="1">学院领导意见</td>
		<td colspan="9" class="input">%s</td>
	</tr>
</table>
<p align="right">申请人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p align="right">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</p>

<p></p>